@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@{
    Layout = "Layout/Base.cshtml";
    ViewBag.Title = "disclosure.io - Community-powered disclosure";
}
    <div class="container" role="main">
        <div class="row">
            <div class="col-sm-6">Login</div>
            <div class="col-sm-6">Register</div>
        </div>
    </div>
